<div class="shadow p-3 bg-body rounded w-50 mx-auto my-4">
  <span class="p-3">
    Check in : <input type="date" id="check_in" ng-model="check_in"  ng-change="changeDate()"/>
  </span>
  <span class="p-3">
    Check out : <input type="date" id="check_out" ng-model="check_out" ng-change="changeData()"/>
  </span>
  <span class="p-3">
    Rooms :
    <input ng-model="rooms" type="number" style="width: 100px" />
  </span>
</div>

<div
  class="shadow p-3 bg-body rounded w-75 mx-auto my-4 d-flex flex-column align-items-center"
>
  <div class="p-3 mx-auto">
    <img src="{{hotel.himages}}" alt="hotel img" height="400px" />
  </div>
  <div class="p-3">
    <h4 class="p-3"><b>{{hotel.hname}}</b></h4>
    <div class="p-3">{{hotel.hdetails}}</div>
    <div class="p-3"><b>Address : </b> {{hotel.haddress}}</div>
  </div>

  <div>
    <span class="btn btn-danger">
      <b ng-model="hotel.hprice">{{hotel.hprice * rooms}}</b>
    </span>

    <a href="" class="btn btn-success" ng-click="BookHotel()"> <b>Book Now</b> </a>
  </div>
</div>
 